html,body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.container {
    width: 100%
}
.main {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.viewer {
    flex: 1;
}
.editor {
    width: 50%;
    height: calc(100vh - 60px);
    resize: horizontal;
}
.menu {
    width: 100%;
    height: 50px;
    background-color: yellow;
}
.fileTreeSwitch {
    position: relative;
    z-index: 1000;
}
.fileTree {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 100;
    background-color: limegreen;
}
.fileTreeSwitch:checked+.fileTree {
    display: block;
}
